{% extends "base.html" %}
{% block content %}

<section class="hero">
    <div class="hero-card text-center">

        <h2 class="mb-3">Welcome to QR Counterfeit Detection</h2>

        <p class="text-muted mb-4">
            Secure product authentication using QR codes
            and blockchain-backed verification.
        </p>

        <div class="d-grid gap-3">
            <a href="/register" class="btn btn-primary btn-lg">
                <i class="fa-solid fa-box"></i> Register Product
            </a>

            <a href="/verify" class="btn btn-success btn-lg">
                <i class="fa-solid fa-shield-check"></i> Verify Product
            </a>
        </div>

    </div>
</section>

{% endblock %}
